html {
	margin:0;
	padding:0;
	background-color:#572606;
}
body {
	margin: 0 auto;
	padding:1em 50px;
	width: 70%;
	font: 100% Georgia, "Times New Roman", Times, serif;
	background-color:#F0833B;
	border-bottom:20px solid #000;
	border-top:20px solid #000;
}
p {
	width: 40%;
	line-height: 1.8;
	text-align:justify;
	margin-bottom: 1em;
	margin:0;
	color:black;
}
h1, h2, h3, h4, h5, h6 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:2.4em;
	font-weight:normal;
	font-style:italic;
	margin: .25ex 12pt;
}
a {
	text-decoration: none;
	color:#84D1CC;
}
a:hover{
	color:#C1ABC9;
	text-decoration:underline;
}
.clear{
	margin:0;
	padding:0;
	clear: both;
}
img.img-right {
	display:block;
	float:right;
	border: solid 2px #555;
	padding: 2px;
	margin:3px 6pt 3px 5px;
}
/* Figure */
figure{
	border: solid 2px #555;
	padding:2px;
	margin: 3px 5px 3px 12pt;
	background-color:#eed;
}
figure.left {
	float:left;
}
figure.right{
	float:right;
}
figure img {
	display:block;
}
figcaption {
	font-family:tahoma, sans-serif;
	font-size:75%;
}
/* Nav Bar */
nav#top-menu {
	width:100%;
	height:33px;
	background-color:#531;
	margin:0;
	padding:0;
}
#top-menu ul{
	display:block;
	list-style-type: none;
	width:600px;
	margin:0, auto;
	padding:0;
}
#top-menu ul li {
	margin:0;
	padding:0;
}

#top-menu ul li a {
	display:block;
	float:left;
	max-height:25px;
	width:100px;
	margin:0;
	padding:5px 0;
	font-family:tahoma, sans-serif;
	font-size:20px;
	text-align:center;
	background-color:#531;
	bottom-border: #531 solid 2px;
	text-decoration: none;
}
#top-menu ul li a:hover { border-bottom: solid 2px;}

header h1 { margin-top: 0;}
header p {
	font-family:tahoma, sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 85%;
	margin: .25ex 12pt;
	color: #3B787B;
}
#maindiv{
	width:775px;
	margin: 0 auto;
	background-color: #DBC4A1;
}
article {
	width: 625px;
	margin-right: 10px;
	float: left;
}
article h1 {
	font-size: 110%;
	margin-top: 12pt;
	margin-bottom: 0;
	padding-top: 3pt;
	border-top: 4px solid #DBC4A1;
}
article p {
	font-family: tahoma, sans-serif;
}
article mark {
	background-color: #DBC4A1;
}
/* Aside */
aside.about {
	float: left;
	width: 248px;
	background-color: white;
	margin: 3pt 6pt 3pt 6pt;
	padding: 6pt 0;
}
aside h1 { font-size:110%;}
aside h2 { font-size:95%;}
aside p{
	margin: 0 12pt;
	font-family: tahoma, sans-serif;
	font-style: italic;
	font-size: 85%;
}
aside section h1 {
	padding-top: 3pt;
	border-top: 4px solid #fd0;
}
aside header p {
	font-size: 85%;
}
aside section {
	padding:5px 0;
}

/* Footer */
footer { background: #333;}
footer p {
	color: #ccc;
	font-size: 70%;
	font-faimly: tahoma, sans-serif;
	text-align: center;
	margin:0;
	padding:10px 0;
}